<%= form_with(model: line, class: "contents") do |form| %>
  <% if line.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(line.errors.count, "件のエラー：") %></h2>

      <ul class="list-disc ml-6">
        <% line.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "例）VARIVAS 8 マーキング", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line.errors[:name].none?, "border-red-400 focus:outline-red-600": line.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :brand %>
    <%= form.text_field :brand, placeholder: "例）VARIVAS", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line.errors[:brand].none?, "border-red-400 focus:outline-red-600": line.errors[:brand].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :pe_rating %>
    <%= form.text_field :pe_rating, placeholder: "例）1.5号", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line.errors[:pe_rating].none?, "border-red-400 focus:outline-red-600": line.errors[:pe_rating].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :length %>
    <%= form.number_field :length, placeholder: "例）300号", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line.errors[:length].none?, "border-red-400 focus:outline-red-600": line.errors[:length].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :strand_count %>
    <%= form.select :strand_count, 
      Line.strand_counts.keys.map { |key| [t("activerecord.attributes.line.strand_count_values.#{key}"), key] }, 
      {}, 
      class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
             { "border-gray-400 focus:outline-blue-600": line.errors[:strand_count].none?, 
               "border-red-400 focus:outline-red-600": line.errors[:strand_count].any? }] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :marker %>
    <%= form.checkbox :marker, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": line.errors[:marker].none?, "border-red-400 focus:outline-red-600": line.errors[:marker].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.number_field :price, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line.errors[:price].none?, "border-red-400 focus:outline-red-600": line.errors[:price].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :purchase_date %>
    <%= form.date_field :purchase_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line.errors[:purchase_date].none?, "border-red-400 focus:outline-red-600": line.errors[:purchase_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :notes %>
    <%= form.textarea :notes, placeholder: "例）ジギングで使用。高密度に編み込まれていて良い。", rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": line.errors[:notes].none?, "border-red-400 focus:outline-red-600": line.errors[:notes].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit "作成", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-400 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
