<div id="<%= dom_id leader %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= leader.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= leader.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= leader.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Leader rating:</strong>
    <%= leader.leader_rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Material:</strong>
    <%= leader.material %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= leader.price %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= leader.purchase_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= leader.notes %>
  </div>
</div>
