<%= form_with(model: rod, class: "contents") do |form| %>
  <% if rod.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(rod.errors.count, "error") %> prohibited this rod from being saved:</h2>

      <ul class="list-disc ml-6">
        <% rod.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rod.errors[:name].none?, "border-red-400 focus:outline-red-600": rod.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :brand %>
    <%= form.text_field :brand, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rod.errors[:brand].none?, "border-red-400 focus:outline-red-600": rod.errors[:brand].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :length %>
    <%= form.number_field :length, step: "any", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rod.errors[:length].none?, "border-red-400 focus:outline-red-600": rod.errors[:length].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :fishing_type %>
    <%= form.select :fishing_type, 
      Rod.fishing_types.keys.map { |key| [t("activerecord.attributes.rod.fishing_type_values.#{key}"), key] }, 
      {}, 
      class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
             { "border-gray-400 focus:outline-blue-600": rod.errors[:fishing_type].none?, 
               "border-red-400 focus:outline-red-600": rod.errors[:fishing_type].any? }] %>

  </div>

  <div class="my-5">
    <%= form.label :power %>
    <%= form.select :power, 
      Rod.powers.keys.map { |key| [t("activerecord.attributes.rod.power_values.#{key}"), key] }, 
      {}, 
      class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
             { "border-gray-400 focus:outline-blue-600": rod.errors[:fishing_type].none?, 
               "border-red-400 focus:outline-red-600": rod.errors[:fishing_type].any? }] %>
  </div>

  <div class="my-5">
    <%= form.label :reel_type %>
    <%= form.select :reel_type, 
      Rod.reel_types.keys.map { |key| [t("activerecord.attributes.rod.reel_type_values.#{key}"), key] }, 
      {}, 
      class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
             { "border-gray-400 focus:outline-blue-600": rod.errors[:fishing_type].none?, 
               "border-red-400 focus:outline-red-600": rod.errors[:fishing_type].any? }] %>
  </div>

  <div class="my-5">
    <%= form.label :min_weight %>
    <%= form.select :min_weight, 
          (0..700).step(10).map { |n| [n, n] }, 
          {}, 
          class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
                { "border-gray-400 focus:outline-blue-600": rod.errors[:min_weight].none?, 
                  "border-red-400 focus:outline-red-600": rod.errors[:min_weight].any? }] %>
  </div>


  <div class="my-5">
    <%= form.label :max_weight %>
    <%= form.select :max_weight, 
          (0..300).step(10).map { |n| [n, n] }, 
          {}, 
          class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
                { "border-gray-400 focus:outline-blue-600": rod.errors[:min_weight].none?, 
                  "border-red-400 focus:outline-red-600": rod.errors[:min_weight].any? }] %>
  </div>

  <div class="my-5">
    <%= form.label :purchase_date %>
    <%= form.date_field :purchase_date, value: Date.current, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
                { "border-gray-400 focus:outline-blue-600": rod.errors[:purchase_date].none?, 
                  "border-red-400 focus:outline-red-600": rod.errors[:purchase_date].any? }] %>
  </div>


  <div class="my-5">
    <%= form.label :notes %>
    <%= form.textarea :notes, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rod.errors[:notes].none?, "border-red-400 focus:outline-red-600": rod.errors[:notes].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit "作成", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
