<section id="rod">
  <div class="flex">
    <h2>ロッド</h2>
    <svg class="ml-1 mt-3 hover:bg-gray-200 hover:rounded-md" id="toggle_rod_add_icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
    <svg class="ml-1 mt-3 hover:bg-gray-200 hover:rounded-md hidden" id="toggle_rod_remove_icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M200-440v-80h560v80H200Z"/></svg>
  </div>
  <section class="hidden" id="toggle_rod">
    <div class="w-full max-w-5xl mx-auto space-y-6">
      <% if notice.present? %>
        <p class="py-2 px-4 bg-green-100 text-green-700 font-semibold rounded-md text-center" id="notice"><%= notice %></p>
      <% end %>

      <div class="text-right mb-0">
        <%= link_to "新規作成", new_rod_path, class: "px-4 py-2 rounded-lg bg-white text-gray-800 border border-gray-300 hover:bg-gray-100 shadow-sm transition" %>
      </div>
      <button id="toggle_search_rods_form" class="flex items-center px-4 py-2 mb-1 hover:bg-gray-200 rounded-md text-gray-800">
        <span class="material-symbols-outlined mr-2">search</span>
        フィルタ
      </button>

      <div id="search_rods_form" class="bg-white rounded-lg p-4 w-full hidden">
        <div class="text-right">
          <%= link_to "クリア", root_path, class: "text-blue-600 items-center px-4 py-2 hover:bg-gray-200 rounded-md text-gray-800" %>
        </div>
        <%= search_form_for search_rods, class: "grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" do |f| %>
          
          <div class="flex flex-col"><%= f.label :name_cont, "名前：", class: "text-sm font-medium text-gray-700 whitespace-nowrap" %></div>
          <div><%= f.search_field :name_cont, class: "mt-1 w-full p-2 border border-gray-300 rounded-md shadow-sm" %></div>

          <div class="flex flex-col">
            <%= f.label :brand_eq, "ブランド：", class: "text-sm font-medium text-gray-700 whitespace-nowrap" %></div>
          <div>
            <%= f.search_field :brand_cont, class: "mt-1 w-full p-2 border border-gray-300 rounded-md shadow-sm" %>
          </div>

          <div class="flex flex-col">
            <%= f.label :fishing_type_eq, "釣法：", class: "text-sm font-medium text-gray-700 whitespace-nowrap" %></div>
          <div>
            <%= f.select :fishing_type_eq,
              Rod.fishing_types.map { |key, _| [I18n.t("activerecord.attributes.rod.fishing_type_values.#{key}"), Rod.fishing_types[key]] },
              { include_blank: true },
              class: "mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300" %>
          </div>

          <div class="flex flex-col">
            <%= f.label :power_eq, "硬さ：", class: "text-sm font-medium text-gray-700 whitespace-nowrap" %></div>
          <div>
            <%= f.select :power_eq,
              Rod.powers.map { |key, _| [I18n.t("activerecord.attributes.rod.power_values.#{key}"), Rod.powers[key]] },
              { include_blank: true },
              class: "mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300" %>
          </div>

          <div class="flex flex-col">
            <%= f.label :reel_type_eq, "リールタイプ：", class: "text-sm font-medium text-gray-700 whitespace-nowrap" %></div>
          <div>
            <%= f.select :reel_type_eq,
              Rod.reel_types.map { |key, _| [I18n.t("activerecord.attributes.rod.reel_type_values.#{key}"), Rod.reel_types[key]] },
              { include_blank: true },
              class: "mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300" %>
          </div>

          <div id="rods_search_button" class="flex items-end">
            <%= f.submit "検索", class: "w-full sm:w-auto px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-md shadow text-base h-10" %>
          </div>
        <% end %>
      </div>

      <div class="relative w-full mb-2">
        <table class="text-lg text-left rtl:text-right text-gray-500 dark:text-gray-400 w-full">
          <thead class="text-lg text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="bg-blue-500 text-white">
              <th scope="col" class="font-normal px-6 py-3 pl-1 pr-1">名前</th>
              <th scope="col" class="font-normal px-6 py-3 pl-1 pr-1">ブランド</th>
              <th scope="col" class="font-normal px-6 py-3 pl-1 pr-1">アクション</th>
            </tr>
          </thead>
          <tbody>
            <% if rods.any? %>
              <% rods.each do |rod| %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <td class="px-6 py-4 pl-1 pt-1 pb-1 pr-1 break-words whitespace-normal max-w-xs"><%= rod.name %></td>
                  <td class="px-6 py-4 pl-1 pt-1 pb-1 pr-1 break-words whitespace-normal max-w-xs" ><%= rod.brand %></td>
                  <td class="px-6 py-4 pl-1 pt-1 pb-1 pr-1 break-words whitespace-normal max-w-xs">
                    <div class="flex">
                      <%= link_to "詳細", rod, class: "rounded-lg py-3 px-5 pl-1 pt-1 pb-1 pr-1 mr-1 bg-gray-100 inline-block font-medium" %>
                      <%= link_to "編集", edit_rod_path(rod), class: "rounded-lg py-3 px-5 pl-1 pt-1 pb-1 pr-1 mr-1 bg-gray-100 inline-block font-medium" %>
                      <%= button_to "削除", rod, method: :delete, class: "rounded-lg py-3 px-5 pl-1 pt-1 pb-1 pr-1 mr-1 bg-blue-100 inline-block font-medium", data: { turbo_confirm: "削除削除してもよろしいですか?" } %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3" class="text-center text-gray-500 py-4 border-t border-gray-300">No rods found.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="text-center mt-0"><%= paginate rods, class: "mt-0" %></div>
    </div>
  </section>
</section>
