<div id="<%= dom_id rod %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= rod.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= rod.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Length:</strong>
    <%= rod.length %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fishing type:</strong>
    <%= rod.fishing_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Power:</strong>
    <%= rod.power %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reel type:</strong>
    <%= rod.reel_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Min weight:</strong>
    <%= rod.min_weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max weight:</strong>
    <%= rod.max_weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= rod.purchase_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= rod.notes %>
  </div>
</div>
