<div id="<%= dom_id tackle %>" class="w-full sm:w-auto my-5 space-y-5">
  <table class="text-lg text-left rtl:text-right text-gray-500 dark:text-gray-400 w-full">
    <thead class="text-lg text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr class="bg-gray-200 text-gray-700">
        <th scope="col" class="px-6 py-3">項目</th><th scope="col" class="px-6 py-3">内容</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-words whitespace-normal max-w-xs">名前</th>
        <td class="px-6 py-4 break-words whitespace-normal max-w-xs"><%= tackle.name %></td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-words whitespace-normal max-w-xs">ロッド</th>
        <td class="px-6 py-4 break-words whitespace-normal max-w-xs"><%= tackle.rod.name %></td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-words whitespace-normal max-w-xs">リール</th>
        <td class="px-6 py-4 break-words whitespace-normal max-w-xs"><%= tackle.reel.name %></td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-words whitespace-normal max-w-xs">ノット</th>
        <td class="px-6 py-4 break-words whitespace-normal max-w-xs"><%= t("activerecord.attributes.tackle.knot_values.#{tackle.knot}") %></td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-words whitespace-normal max-w-xs">リーダー</th>
        <td class="px-6 py-4 break-words whitespace-normal max-w-xs"><%= tackle.leader.name %></td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white break-words whitespace-normal max-w-xs">メモ</th>
        <td class="px-6 py-4 break-words whitespace-normal max-w-xs"><%= tackle.notes %></td>
      </tr>
    </tbody>
  </table>
</div>
