<main>
  <%= render 'homes/schedule' %>
  <%= render 'homes/tackle' %>
  <%= turbo_frame_tag "rods_view" do %>
    <%= render 'rods/index', search: @search, rods: @rods%>
  <% end %>
  <%= render 'homes/reel' %>
  <%= turbo_frame_tag "lines_view" do %>
    <%= render 'lines/index', lines: @lines%>
  <% end %>
  <%= render 'homes/leader' %>
</main>
