<header>
  <div class="container">
    <h1>フィッシング管理</h1>
    <nav class="desktop-nav">
      <ul>
        <li><a href="#schedule">スケジュール</a></li>
        <li><a href="#rod">ロッド</a></li>
        <li><a href="#reel">リール</a></li>
        <li><a href="#line">ライン</a></li>
        <li><%= link_to "ログアウト", session_path, data: { "turbo-method": :delete} %></li>
      </ul>
    </nav>
    <div class="hamburger-menu" id="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav class="mobile-nav" id="mobile-nav">
    <ul>
      <li><a href="#schedule">スケジュール</a></li>
      <li><a href="#rod">ロッド</a></li>
      <li><a href="#reel">リール</a></li>
      <li><a href="#line">ライン</a></li>
      <li><%= link_to "ログアウト", session_path, data: { "turbo-method": :delete} %></li>
    </ul>
  </nav>
</header>

<main>
  <section id="schedule">
    <h2>スケジュール</h2>
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </section>

  <section id="rod">
    <h2>ロッド</h2>
    <%= turbo_frame_tag "rods_list" do %>
      <%= render 'rods/rods_list', search: @search, rods: @rods %>
    <% end %>
  </section>

  <section id="reel">
    <h2>リール</h2>
    <p>おすすめリール一覧です。</p>
    <ul>
      <li>シマノ - ストラディックCI4+</li>
      <li>ダイワ - ソルティガ</li>
      <li>アブガルシア - ブラックマックス</li>
    </ul>
  </section>

  <section id="line">
    <h2>ライン</h2>
    <p>おすすめラインをご紹介します。</p>
    <ul>
      <li>モノフィラメント - 3号</li>
      <li>PEライン - 0.6号</li>
      <li>フロロカーボン - 4号</li>
    </ul>
  </section>
</main>

<footer>
  <p>© 2025 フィッシング管理. All Rights Reserved.</p>
</footer>

<script>
  // ハンバーガーメニューを開閉するためのJavaScript
  const hamburgerMenu = document.getElementById("hamburger-menu");
  const mobileNav = document.getElementById("mobile-nav");
  const menuLinks = document.querySelectorAll(".mobile-nav ul li a");  // メニューのリンクを取得

  // ハンバーガーメニューを開閉
  hamburgerMenu.addEventListener("click", (event) => {
    event.stopPropagation();  // クリックイベントが親要素に伝播しないようにする
    mobileNav.classList.toggle("show");
  });

  // リストアイテムがクリックされたときにメニューを閉じる
  menuLinks.forEach(link => {
    link.addEventListener("click", () => {
      mobileNav.classList.remove("show");  // メニューを非表示にする
    });
  });

  // メニューの外部をクリックしたときにメニューを閉じる
  document.addEventListener("click", (event) => {
    if (!mobileNav.contains(event.target) && !hamburgerMenu.contains(event.target)) {
      mobileNav.classList.remove("show");  // メニューを非表示にする
    }
  });
</script>
