<main>
  <%= render 'homes/announce' %>
  <%= render 'homes/schedule' %>
  <%= turbo_frame_tag "tackles_view" do %>
    <%= render 'tackles/index', search_tackles: @search_tackles, tackles: @tackles%>
  <% end %>
  <%= turbo_frame_tag "rods_view" do %>
    <%= render 'rods/index', search_rods: @search_rods, rods: @rods%>
  <% end %>
  <%= turbo_frame_tag "reels_view" do %>
    <%= render 'reels/index', search_reels: @search_reels, reels: @reels%>
  <% end %>
  <%= turbo_frame_tag "lines_view" do %>
    <%= render 'lines/index', search_lines: @search_lines, lines: @lines%>
  <% end %>
  <%= turbo_frame_tag "leader_view" do %>
    <%= render 'leaders/index', search_leaders: @search_leaders, leaders: @leaders%>
  <% end %>
</main>
