<div id="<%= dom_id reel %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= reel.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= reel.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= reel.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reel type:</strong>
    <%= reel.reel_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gear type:</strong>
    <%= reel.gear_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Line:</strong>
    <%= reel.line_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= reel.price %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= reel.purchase_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= reel.notes %>
  </div>
</div>
