<%= form_with(model: log, class: "contents") do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(log.errors.count, "件のエラー：") %></h2>

      <ul class="list-disc ml-6">
        <% log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :fishing_date %>
    <%= form.date_field :fishing_date, value: Date.current, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-1/3", {"border-gray-400 focus:outline-blue-600": log.errors[:fishing_date].none?, "border-red-400 focus:outline-red-600": log.errors[:fishing_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :area %>
    <%= form.text_field :area, placeholder: "例）隠岐海峡", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": log.errors[:area].none?, "border-red-400 focus:outline-red-600": log.errors[:area].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :fishing_guide_boat %>
    <%= form.text_field :fishing_guide_boat, placeholder: "例）遊漁船ファミリア", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": log.errors[:fishing_guide_boat].none?, "border-red-400 focus:outline-red-600": log.errors[:fishing_guide_boat].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :menu %>
    <%= form.text_field :menu, placeholder: "例）ネギング", class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": log.errors[:menu].none?, "border-red-400 focus:outline-red-600": log.errors[:menu].any?}] %>
  </div>

  <%= form.label :tackle_ids, "使用タックル" %>

  <div id="tackle-select-container">
    <div class="tackle-select">
      <% if log.tackle_ids.empty? %>
        <%= select_tag "log[tackle_ids][]",
            options_from_collection_for_select(Tackle.where(user: @current_user), :id, ->(t) { "#{t.name} / #{t.rod.name} / #{t.reel.name}" }),
            prompt: "選択なし",
            class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full"
          %>
      <% else %>
        <% log.tackle_ids.each do |tackle_id| %>
          <%= select_tag "log[tackle_ids][]",
            options_from_collection_for_select(Tackle.where(user: @current_user), :id, ->(t) { "#{t.name} / #{t.rod.name} / #{t.reel.name}" }, tackle_id),
            prompt: "選択なし",
            class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full"
          %>
        <% end %>
      <% end %>
    </div>
  </div>

  <button type="button" id="add-tackle-select" class="mt-2 text-blue-600 hover:underline inline-flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
    </svg>
    タックルを追加
  </button>

  <div class="my-5">
    <%= form.label :notes %>
    <%= form.textarea :notes, placeholder: "例）#{Log::RECORD_TEXT}", rows: 25, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": log.errors[:notes].none?, "border-red-400 focus:outline-red-600": log.errors[:notes].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :other %>
    <%= form.textarea :other, placeholder: "例）アシストフックが少なくなってきたので要補充", rows: 5, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": log.errors[:other].none?, "border-red-400 focus:outline-red-600": log.errors[:other].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit '作成', class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-400 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script>
  $(document).on('turbo:load', function () {
  const $addButton = $('#add-tackle-select');
  const $container = $('#tackle-select-container');

  $addButton.off('click').on('click', function () {
    const $existingSelect = $container.find('.tackle-select').first();
    const $newSelect = $existingSelect.clone();
    $container.append($newSelect);
  });
});

</script>
