<div id="<%= dom_id log %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Fishing date:</strong>
    <%= log.fishing_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= log.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= log.end_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Area:</strong>
    <%= log.area %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fishing guide boat:</strong>
    <%= log.fishing_guide_boat %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Menu:</strong>
    <%= log.menu %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= log.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Other:</strong>
    <%= log.other %>
  </div>
</div>
