<div id="<%= dom_id log %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="mb-1">釣行日：<%= l(log.fishing_date) %></div>
  <div class="mb-1">開始時刻：<%= log.start_time ? "#{l(log.start_time, format: :short)} + 　~　" : ""%></div>
  <div class="mb-1">エリア：<%= log.area %></div>
  <div class="mb-1">利用遊漁船：<%= log.fishing_guide_boat %></div>
  <div class="mb-1">メニュー：<%= log.menu %></div>
  <div class="mb-1">使用タックル：</div>
  <ul>
    <% log.tackles.each do |tackle| %>
      <li><%= link_to tackle.name, tackle_path(tackle), class: "ml-5 hover:underline" %></li>
    <% end %>
  </ul>

  <div class="mb-1">記録</div>
  <div class="ml-2">
    <%= simple_format(log.notes) %>
  </div>
  <div class="mb-1">備考</div>
  <div class="ml-2">
    <%= log.other %>
  </div>
</div>
