<!DOCTYPE html>
<html>
  <head>
    <title>SLJ・LJの山陰遊漁船ファミリア</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <%= render 'header' %>
      <%= yield %>
      <%= render 'footer' %>
    </main>
  </body>
  <script>
    // ハンバーガーメニューを開閉するためのJavaScript
    const hamburgerMenu = document.getElementById("hamburger-menu");
    const mobileNav = document.getElementById("mobile-nav");
    const menuLinks = document.querySelectorAll(".mobile-nav ul li a");  // メニューのリンクを取得

    // ハンバーガーメニューを開閉
    hamburgerMenu.addEventListener("click", (event) => {
      event.stopPropagation();  // クリックイベントが親要素に伝播しないようにする
      mobileNav.classList.toggle("show");
    });

    // リストアイテムがクリックされたときにメニューを閉じる
    menuLinks.forEach(link => {
      link.addEventListener("click", () => {
        mobileNav.classList.remove("show");  // メニューを非表示にする
      });
    });

    // メニューの外部をクリックしたときにメニューを閉じる
    document.addEventListener("click", (event) => {
      if (!mobileNav.contains(event.target) && !hamburgerMenu.contains(event.target)) {
        mobileNav.classList.remove("show");  // メニューを非表示にする
      }
    });

    const toggleButton = document.getElementById('toggle_search_form');
    const searchForm = document.getElementById('rod_search_form');

    toggleButton.addEventListener('click', function () {
      if (searchForm.classList.contains('hidden')) {
        searchForm.classList.remove('hidden');
        toggleButton.textContent = '検索フォームOFF'; // ボタンのテキストを変更
      } else {
        searchForm.classList.add('hidden');
        toggleButton.textContent = '検索フォームON'; // ボタンのテキストを変更
      }
    });
  </script>
</html>
